@page
@model WebApp_Salon.Pages.Account.LoginModel;


<link href="~/css/login.css" rel="stylesheet" />

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="col-3">
            <label asp-for="Credential.UserName"></label>
        </div>

        <div class="col-5">
            <input type="text" asp-for="Credential.UserName" />
        </div>

        <div class="col-3">
            <label asp-for="Credential.Password"></label>
        </div>

        <div class="col-5">
            <input type="text" asp-for="Credential.Password" />
        </div>
 
        <button type="submit">Login</button>

    </form>
</div>